<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <title>foodforum</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/style.css">



  </head>

<body>

  	<div class="container">

    <nav class="navbar navbar-default">
  		<div class="container-fluid">
    	<div class="navbar-header">
      	<a class="navbar-brand" href="/">Food Forum</a>
    	</div>
    <div>
      <ul class="nav navbar-nav centro">
        <li><a href="/patron">Join</a></li>
        <li><a href="/business">Add Your Business</a></li>
        <li><a href="/list">Places</a></li>
        <li><a href="/Users">Users</a></li>
      </ul>
    </div>
  </div>
</nav>
</div>


<div class="container image">
  <div class="submitbusiness ">
    <h1 class="join"><p>Join</p></h1>
<form action="/patron" method="POST" class="col-md-4">
  <div class="form-group">
    <label for="username"></label>
    <input type="username" class="form-control" name="username" placeholder="enter username">
  </div>
  <div class="form-group">
    <label for="name"></label>
    <input type="username" class="form-control" name="name" placeholder="enter name">
  </div>
  <div class="form-group">
    <label for="email"></label>
    <input type="emailaddress" class="form-control" name="email" placeholder="enter email">
  </div>
  <div class="form-group">
    <label for="email"></label>
    <input type="emailaddress" class="form-control" name="image" placeholder="enter image url">
  </div>
  <button type="submit" class="btn btn-default"><strong>Submit</strong></button>
</form>
</div>

  </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>