<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <title>foodforum</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/style.css">



  </head>
  <body>
  	<div class="container">
    <nav class="navbar navbar-default">
  		<div class="container-fluid">
    	<div class="navbar-header">
      	<a class="navbar-brand" href="/">Food Forum</a>
    	</div>
    <div>
      <ul class="nav navbar-nav centro">
        <li><a href="/patron">Join</a></li>
        <li><a href="/business">Add Your Business</a></li>
        <li><a href="/list">Places</a></li>
        <li><a href="/Users">Users</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">

<div class="submitbusiness">
<% rows.forEach(function(rows){%>
  <img src="<%=rows.image%>" class="img-rounded" heigth="225" width="225">
  <h2><a href="/patron/<%=rows.id%>"><%=rows.name%></a></h2>
<%})%>
</div>



	
	</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>

