.image {
	background-image: url("/img/join_image.jpg");
	height: 600px;

}

.centro {
	margin-left: 20%;
	
}
.scrollable {
	border: none;
	background-color: aliceblue;
	height:390px;
	overflow:scroll;
	padding: 20px;

}

.comment{
margin-top: 20px;
}

.geo{
	border-top: 2px solid red;

}
.emoji{
	display: inline;
}

.business{

}
.like {
	margin-left: 70%;
}

.list{
	width:400px;
	height:600px;
	overflow:scroll;
	text-align: center;
	margin-left: 30%;

}

.submitbusiness{
	margin-top: 5%;
	margin-left: 38%;
}

.join{
	font-size: 5em;
	font-weight: 900;
	color: yellow;

}

.listusers {
	width:400px;
	height:600px;
	overflow:scroll;
	text-align: center;
	margin-left: 30%;
}
.form-control{
	font-weight: 900;
	font-color: black;
}
.delete{
	text-align: center;
	padding-top: 20px;
	margin-right:80%;
}



